body{
    background-color: rgb(209, 193, 172);
    color: rgb(75, 75, 75);
}

header {
    margin: 40px 10px 30px 10px;
    text-align: center;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    color: rgb(60, 72, 60);
    font-size: 60px;
}

h2 {
    color: rgb(0, 150, 65);
    font-size: 32px;
    margin: 50px 10px 10px 0;
}

section.homepagephotos {
    text-align: center;
}

section.singingonstage, section.albumcovers, section.portraits {
    margin-bottom: 50px;
}

a{
    color: cornflowerblue;
}

a:hover {
    text-decoration: underline;
    color: darkblue;
}

aside nav a {
    margin: 80px 0 30px 0;
    display: block;
    text-align: center;
}

footer{
    margin: 50px 0;
    text-align: center;
}


