* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1100px;
    margin: auto;
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(209, 193, 172);
    color: rgb(75, 75, 75);
    line-height: 1.7;
}

header {
    text-align: center;
    padding: 20px 0;
    background-color: #2d2d2d;
    color: white;
    border-radius: 10px;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header h1 a {
    color: white;
    text-decoration: none;
    font-size: 32px;
    transition: color 0.3s ease-in-out;
}

nav {
    text-align: center;
    margin: 15px 0;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #a7b4dd;
    font-weight: bold;
    margin: 0 15px;
    transition: color 0.3s ease-in-out;
}


h1 {
    color: rgb(60, 72, 60);
    font-size: 60px;
    text-align: center;
}

h2 {
    color: rgb(0, 150, 65);
    font-size: 32px;
    margin: 15px 5px 15px 5px;
}

h3 {
    margin: 15px 0;
}

ul, ol {
    padding-left: 60px;
}

ul li, ol li {
    margin-bottom: 8px;
}

img {
    width: 100%;
    }

section {
    margin-bottom: 30px;
    padding: 25px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section.homepagephotos {
    text-align: center;
}

.singingonstage, .albumcovers, .portraits {
    margin-bottom: 50px;
    padding-bottom: 50px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.albumcovers img {
    object-fit: contain;
    height: auto;
}

a{
    color: cornflowerblue;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

a:hover {
    text-decoration: underline;
    color: darkblue;
}

aside nav a {
    margin: 40px 0 30px 0;
    display: block;
    text-align: center;
    color: rgb(65, 85, 122);
}

div.gallery {
    display: flex;
    flex-wrap: wrap;
}

footer{
    text-align: center;
    padding: 15px;
    background-color: #2d2d2d;
    color: white;
    border-radius: 10px;
    margin-top: 20px;
}


